@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="row">
        <input type="text" id="txtUrl" size="80"/>
        <input type="button" id="btnGet" Value="GetData" />
    </div>
    <div class="row">
        <textarea rows="30" cols="150" id="txtData"></textarea>
    </div>
</div>