################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vspscc
/.user
bin/
logs/
obj/
*.user

